*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
} 

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.app {
  background: #c786b6;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

#todoInput {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

#addBtn {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


